body {
            font-family: Arial, sans-serif;
            margin: 40px;
            background-color: #f4f4f4;
            background-image: url('teste.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .section {
            display: none;
        }

        .section.active {
            display: block;
        }

        button {
            padding: 10px 20px;
            margin: 10px;
            cursor: pointer;
        }

        h1 {
            text-align: center;
            width: 100%;
        }

        .centralized-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .centered-content {
            text-align: center;
        }

        .chamativo-btn {
            background-color: #000000;
            border: none;
            border-radius: 15px;
            color: white;
            font-size: 20px;
            padding: 10px 25px;
            cursor: pointer;
            transition: all 0.3s;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        }

        .chamativo-btn:hover {
            background-color: #ff6347;
            transform: translateY(-3px);
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
        }

        .chamativo-btn:active {
            transform: translateY(2px);
        }

        .whatsapp-btn {
            background-color: #25D366;
            border: none;
            border-radius: 15px;
            color: white;
            font-size: 20px;
            padding: 10px 25px;
            cursor: pointer;
            transition: all 0.3s;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        }

        .whatsapp-btn:hover {
            background-color: #128C7E;
            transform: translateY(-3px);
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
        }

        .whatsapp-btn:active {
            transform: translateY(2px);
        }
